AJAXApp/src/main/webapp/xml/test2.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT booklist (book+) > <!-- 루트 element는 이 이름으로 만들어라 , book이라는 태그를 1개 이상(+) 만들수있다-->
	<!ELEMENT book (title, author+, (publisher|pub), coverImg) > <!-- 자식 element 선언 / 순서 맞춰줘야함 -->
		<!ELEMENT title (#PCDATA) >
		<!ELEMENT author (#PCDATA) >
		<!ELEMENT publisher (#PCDATA) >
		<!ELEMENT pub (#PCDATA) >
		<!ELEMENT coverImg EMPTY > 